//theme colors
$c-black: #000000;
$c-white: #FFFFFF;
$c-orange: #d69947;
$c-coral: #f05d53;

//background colors
$c-background-black: #{$c-black};
$c-background-white: #{$c-white};

//primary button
$c-button-primary: #{$c-coral};
$c-button-secondary: #{c-black};
$c-button-secondary-text: #{$c-white};

//button text
$c-button-primary-text: #{$c-black};
$c-button-secondary-text: #{$c-white};

@mixin primary-text {
font-family: "Inter", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 1.5em;
text-align: left;
//double check below font
padding: 10px 0;
letter-spacing: 1px;
}

@mixin secondary-text {
font-family: "Inter", sans-serif;
font-weight: bold;
font-style: normal;
font-size: 2.5em;
}

@mixin tertiary-text {
font-family: "Inter", sans-serif;
font-weight:bolder;
font-style: normal;
font-size: 3.0em;
padding: 10px 0 10px 0;
}

@mixin button {
background-color: coral;
color: $c-button-primary-text;
padding: 10px;//may need to change this
font-size: 1.5em;
font-weight: bold;
border: none;
display: flex;
margin: 20px auto 0px auto;
justify-content: center;
}

@mixin lightTheme {
background-color: $c-background-white;
color: $c-black;
button {
    color: $c-button-primary;
    }
}

@mixin darkTheme {
background-color: $c-background-black;
color: $c-white;
}