/*order of import does matter*/
/* order of this allows base file to know variables*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "./variables";
@import "./components";

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
  padding: 0px 20px;
  //max-width 1200px?
  //adding margin unset
  margin: unset;
}

.navbar {
  background: darkgray;

  ul {
    margin: unset; 
    padding: unset;
    list-style: none;
    display: flex;
  }

  a {
    padding: 1em;
    color: inherit;
    text-decoration: none;
    display: inline-block;
  }

  a:hover {
    color: $c-coral;
  }

  .w-icon {
    background-color: lavender;
  }
}

.text-box {
  padding: 20px 0;
  border-bottom: solid white 1px;
}

.blocks-text {
  @media(min-width: 1200px) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }
}

#section-container-1 {
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: auto;
    padding-top: 30px;

    @media(min-width: 1200px) {
      max-height: 200px;
      object-fit: cover;
    }
  }
  
  @media(min-width: 1200px) {
    width: 60%;
  }
}


#section-container-2 {
  @include darkTheme();
  margin-bottom: 60px;

  @media(min-width: 1200px) {
    width: 30%;
    margin-top: 30px;
  }
}

.section-three-container {
  display: flex;
  padding-bottom: 30px;
  img {
    width: 120px;
    height: auto;

    //height: 100px;
  }

  @media(min-width: 1200px) {
    width: 33%;
    flex-wrap: nowrap;
    padding-bottom: initial;
    }
}

#section-container-3 {
  margin-bottom: 80px;

  @media(min-width: 1200px) {
    display: flex;
    width: 100%;
  }
}

.section-container-wrapper {
  @media(min-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.image-text {
  padding-left: 10px;
  @media(min-width: 1200px) {
    max-width: 250px;
  }
  p {
    @media(min-width: 1200px) {
      padding-bottom: 0px;
    }
  }
}

button {
  @include button();
  @include button-text();
}

p {
  @include primary-text();
}

.blocks-para-button {
  @media(min-width: 1200px) {
    width: 45%;
    padding-top: 30px;
  }
}

h1 {
  @include quinary-text();
  @media(min-width: 1200px) {
    width: 40%;
    padding: 40px 30px;
  }
}

h2 {
  @include quaternary-text();
  color: $c-orange;
}

h3 {
  @include tertiary-text();
}

h4 {
  @include secondary-text();
}



  
  
